// Summary


.button .icon:first-child:not(:last-child) {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.button .icon:last-child:not(:first-child) {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
