// Transitions
.sm-trans{
  transition: all 0.4s;
}


.primary-border {
    border: 2px solid $primary;
    border-radius: 6px;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
