// Helpers
.h-100 {
  height: 100px;
}

.h-200 {
  height: 200px;
}

.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}


$max-size: 20;
$positions: ("t": "top", "b": "bottom", "l": "left", "r": "right");
$scaling: 6;

@for $size from 0 through $max-size{
  .m-#{$size} {
    margin: $scaling * $size + px;
  }
  .p-#{$size} {
    padding: $scaling * $size + px;
  }
  @each $pos, $position in $positions {
    .m#{$pos}-#{$size} {
       margin-#{$position}: $scaling * $size + px;;
    }
    .p#{$pos}-#{$size} {
       padding-#{$position}: $scaling * $size + px;;
    }
  }
}
