// Modals
$modal-card-head-background-color: $primary;
$modal-card-head-radius: 0px;
$modal-card-title-color: $white;
$modal-card-foot-radius: 0px;

.modal-card .field input {
  margin-bottom: 8px;
}

.modal .button[type="submit"] {
  margin-bottom: 50px !important;
}

.modal section .radio, .modal .checkbox, .modal section p{
  color: $dark;
}
