{% load i18n %}{% autoescape off %}
{% blocktrans %}Tu reçois ce mail car tu as demandé une réinitialisation de ton mot de passe pour ton compte sur {{ site_name }}.{% endblocktrans %}

{% trans "Rends-toi à l'adresse indiquée ci-dessous et choisis un nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ton nom d'utilisateur, au cas où tu l'aurais oublié:" %} {{ user.get_username }}

{% trans "Merci d'utiliser notre site!" %}

{% blocktrans %}L'équipe d'1Exo{% endblocktrans %}

{% endautoescape %}
