/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Colors
// $primary: #0D47A1;
// $primary-invert: findColorInvert($primary);
$primary: #0582B7;
$primary-invert: findColorInvert($primary);
$secondary: #A13C50;
$secondary-invert: findColorInvert($secondary);


// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Tabs
#subsection-tabs .tab-content{
  height: 1000px;
  overflow: scroll;
}

// Partials scss
@import 'partials/navbar';
@import 'partials/modals';
@import 'partials/forms';
@import 'partials/cards';

@import 'partials/profile';
@import 'partials/contents';

@import 'partials/helpers';

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
